<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script type="text/javascript" src="data.json"></script>

        <link rel="stylesheet" type="text/css" href="/css/form_css.css" />

        <!-- Latest compiled and minified CSS -->
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous"
        />

        <!-- Optional theme -->
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
            integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
            crossorigin="anonymous"
        />

        <!-- Latest compiled and minified JavaScript -->
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"
        ></script>
        <title>Add Link</title>
    </head>

    <body>
        <h1 class="pata_form" style="color: white;">
            Add Your Whatsaap Group To the list.
        </h1>
        <div class="pata_form">
            <iframe
                class="col-6 justify-content-center align-items-center"
                src="https://docs.google.com/forms/d/e/1FAIpQLSdro-gKF_lz6cHcb9PEfxoMdrqmk_wiuNhJirHD-TlDnQAwHQ/viewform?embedded=true"
                width="640"
                height="979"
                frameborder="0"
                >Loading…</iframe
            >
        </div>
    </body>
</html>
